.text-center{
    text-align: center;
}


.container{
    height: 30rem;
    width: 50rem;
    
}

.flex{
 display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
 align-items: center;
}